.ob{
    float: left;
    padding: 10%;
    /* margin-top: 25%;
    margin-bottom: 25%;
    margin-left: 25%; */
    /* width: 33.33%; */
}


.b{
    text-align: left;
    border: 1px solid brown;
    box-shadow:yellow;
    /* margin-top: 25%;
    margin-left: 25%; */
    margin-bottom: 5%;
    margin-right: 30%;
    float: left;
    width: 125%;
    padding: 5px;
    box-shadow: 5px 5px 5px blue;
    border-radius: 2%;
}

.ul{
    font-family: Arial;
    font-size: 30px;
}